
SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True
streamlit
numpy
pandas
plotly
sklearn
folium
streamlit_folium
pygeodesy
scipy
plotly.express
scikit-learn 
pip
pygeodesy
# pip3 install -U scikit-learn scipy matplotli
# pip install -r requirements.txt